{ margin: 0; padding: 0; }
html body { font-family: monospace; font-size: 100%; text-align: center; background: #000; color: #fff; }
:link { color: rgb(173, 216, 230); text-decoration: none; page-break-after: always; }
:visited { color: rgb(253, 0, 253); text-decoration: none; page-break-after: always; }
a:hover, a:active { color: #dd9900; page-break-after: always; }
img { border: solid; border-width: thin; }
p { margin: 0; }
